* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} /* Nav */
nav {
  display: flex; /* 1 */
  justify-content: space-between; /* 2 */
  padding: 1rem 2rem; /* 3 */
  background: #0b3c7a; /* 4 */
}
nav ul {
  display: flex; /* 5 */
  list-style: none; /* 6 */
}
nav li {
  padding-left: 1rem; /* 7! */
}
nav a {
  text-decoration: none;
  color: #fff;
}
nav h2 {
  color: #fff;
}